URxvt.scrollBar: false ! Disable scrollbar
URxvt.font: xft:Hack:size=11

! xoria256 theme
URxvt.foreground      : #d0d0d0
URxvt.background      : #1c1c1c
URxvt.color0          : #121212
URxvt.color8          : #121212
URxvt.color1          : #df8787
URxvt.color9          : #df8787
URxvt.color2          : #afdf87
URxvt.color10         : #afdf87
URxvt.color3          : #dfdf87
URxvt.color11         : #dfdf87
URxvt.color4          : #87afdf
URxvt.color12         : #87afdf
URxvt.color5          : #dfafdf
URxvt.color13         : #dfafdf
URxvt.color6          : #afafdf
URxvt.color14         : #afafdf
URxvt.color7          : #eeeeee
URxvt.color15         : #eeeeee
URxvt.colorBD         : #dfafdf
URxvt.colorUL         : #dfdfaf
