URxvt.scrollBar: false ! Disable scrollbar
URxvt.font: xft:Source Code Pro:Regular:size=8

! Molokai theme
*.background: #1B1D1E
*.foreground: #F8F8F2
*.color0: #1B1D1E
*.color1: #B60050
*.color2: #88BB22
*.color3: #C47F2C
*.color4: #30309B
*.color5: #7E40A5
*.color6: #4699AF
*.color7: #9999AA
*.color8: #303030
*.color9: #F92672
*.color10: #80FF00
*.color11: #FFBA68
*.color12: #7070F0
*.color13: #BB88DD
*.color14: #66D9EF
*.color15: #F8F8F2
